.wrapper {
  --search-height: 46px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
}
.search,
.search-result {
  width: 361px;
}
.search-result {
  padding: 8px;
}
.search-title {
  color: rgba(22, 24, 35, 0.5);
}
.search {
  position: relative;
  display: flex;

  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  border: 1.5px solid transparent;
  padding-left: 16px;
  input {
    flex: 1;
    font-size: 1.6rem;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: red;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 52px;
    height: 28px;
    width: 1px;
    background-color: rgba(22, 24, 35, 0.06);
  }
  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}
.clear,
.loading {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}
.loading {
}
.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    background: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}
